<div class="notice alert-info h4"><%= flash[:notice] %></div>
<div class="text-center row-color">
 <h1>About</h1>
 <div>このサイトは自分の好きなラーメンをレビューすることができます。</div>
 <div>また他の人が投稿したレビューも見れます。</div>
 <div>レビューを参考に新しいラーメンを食べたい時などに役立てください。</div>
</div>
