<div style="padding-bottom: 100px;">
<footer>
  <div class="fixed-bottom">
    <div class="text-center p-3 text-white" style="background-color:#1f1a11;">
      Copyright © 2023 ラーメンレビュー. All Right Reserved.
    </div>
  </div>
</footer>
</div>